{%extends 'base.html'%}

{%block 'titulo'%}Download{%endblock%}

{%block 'conteudo'%}

<div class="container d-flex flex-column h-100 align-items-center my-4">

    <div class="row col-12">
        <div class="d-flex col-12">
            <div class="border border-dark rounded-3 py-3 px-3 col-12">

                <h3 class="mb-3 card-title">Jbrowse</h3>
                <iframe src="http://3.142.255.93:5000/?session=share-P_DuBxKHyE&password=N2ORQ" X-Frame-Options="allow" width="1000" height="800">
                    Seu navegador não possui Suporte para este recurso...
                </iframe>

            </div>
        </div>
    </div>
</div>

{%endblock%}
