<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
  <!-- meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet"/>

  <title>{%block 'titulo'%}{%endblock%}</title>
</head>

<body>

<script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>

<div class="w-100">
    <nav class="navbar w-100 navbar-expand-lg bg-dark navbar-header">
    <div class="container-fluid">
        <a class="navbar-brand" class="text-white">Trypanosoma Cruzi </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'index'%}">Home</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" class="text-white" href="{% url 'blast'%}">Blast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" class="text-white" href="{% url 'filogenia'%}">Filogenia</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" class="text-white" href="{% url 'download'%}">Download</a>
          </li>
        </ul>

            <form class="d-flex justify-content-end">
                <lottie-player
                        autoplay
                        loop
                        mode="normal"
                        src="{% static 'assets/animation/load.json' %}"
                        style="width: 40px; transform: scale(2.0);"
                        class="m-0 p-0 mr-3 pt-2"
                >
                </lottie-player>
                <!--                    <input-->
                <!--                            class="form-control mr-2"-->
                <!--                            type="search"-->
                <!--                            placeholder="Pesquisar"-->
                <!--                            aria-label="Search"-->
                <!--                    />-->
                <!--                    <button class="btn btn-primary" type="submit">Buscar</button>-->
            </form>
      </div>
    </div>
  </nav>

    <div class="d-flex flex-column justify-content-between h-100 main-content">

        {%block 'conteudo'%}{%endblock%}


        <footer class="navbar w-100 navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-between">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
                        <li class="nav-item github-link d-flex">
                            <a class="nav-link text-white" href="https://github.com/abner-lucas/tp-cruzi-db"> <img
                                    class="github-logo mr-2" src="{%  static 'assets/img/github-logo.png' %}"/>
                                Github</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'sobre'%}">Sobre</a>
                        </li>
                    </ul>

                    <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 team mr-3">
                            <div>
                                <h6 class="nav-link">Orientador:</h6>
                                <li class="nav-item">
                                    <a class="nav-link" class="text-white">Vinicios Abreu</a>
                                </li>
                            </div>
                            <div></div>
                        </ul>

                        <ul class="navbar-nav mb-2 mb-lg-0 team">
                            <div>
                                <h6 class="nav-link">Equipe:</h6>
                                <li class="nav-item">
                                    <a class="nav-link" class="text-white">Ábner Pereira</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" class="text-white">Diego Melo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" class="text-white">Márcio Reis</a>
                                </li>
                            </div>
                            <div>
                                <h6 class="nav-link"></h6>
                                <li class="nav-item">
                                    <a class="nav-link" class="text-white">Mayana Pontes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" class="text-white">Victor Santos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" class="text-white">Yuri Santos</a>
                                </li>
                            </div>
                        </ul>


                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
