bio==0.4.1
biopython==1.78
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
Django==3.2
gunicorn==20.1.0
httplib2==0.14.0
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
numpy==1.19.5
oauthlib==3.1.0
Pillow==8.2.0
requests==2.22.0
simplejson==3.16.0
sos==0.22.5
urllib3==1.25.8
virtualenv==20.4.4
zipp==1.0.0
