{%extends 'base.html'%}

{% load static %}

{%block 'titulo'%}Home{%endblock%}

{%block 'conteudo'%}


<div class="container d-flex flex-column h-100 align-items-center my-4">
    <div class="border border-dark rounded-3 col-md-8 py-3 px-3 mb-5">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Trypanosoma Cruzi
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body d-flex">
                        <div class="text-space">
                            <p>A tripanossomíase por Trypanosoma cruzi, popularmente conhecida
                                como doença de Chagas, é uma doença causada pelo protozoário
                                trypanosoma cruzi cujo principal vetor é o barbeiro.


                                <i>Fonte: <a target="_blank"
                                             href="https://agencia.fiocruz.br/doenca-de-chagas">Fiocruz</a></i></p>

                            Todas as funcionalidades desta plataforma usarão os dados
                            genéticos desse organismo como base.
                        </div>
                        <div>
                            <img width="150"
                                 src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Trypanosoma_cruzi_B.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Blast
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body d-flex">
                        <div class="text-space">
                            <p>O BLAST (Basic Local Alignment Search Tool) encontra regiões
                                de similaridade entre sequências biológicas. O programa compara
                                sequências de nucleotídeos ou proteínas a bancos de dados de
                                sequências e calcula a significância estatística.


                                <i ar>Fonte: <a target="_blank"
                                                href="https://blast.ncbi.nlm.nih.gov/Blast.cgi">blast.ncbi</a></i></p>
                        </div>
                        <div>
                            <img width="150"
                                 src="https://www.agroportal.pt/wp-content/uploads/Pieza_1_Apaisada.jpg"/>
                        </div>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Filogenia
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body d-flex">
                        <div class="text-space">
                            <p>Uma árvore filogenética é um diagrama que representa relações
                                evolutivas entre organismos. Árvores filogenéticas são hipóteses, não
                                fatos definitivos.

                                <i ar>Fonte: <a target="_blank"
                                                href="https://pt.khanacademy.org/science/biology/her/tree-of-life/a/phylogenetic-trees">khanacademy</a></i>
                            </p>
                        </div>
                        <div style="background-color: #fff" class="ml-2">
                            <img width="150"
                                 src="https://cdn.kastatic.org/ka-perseus-images/7f31eb1a818e2d19987f9355b52443483b010492.png"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        JBrowse
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body d-flex">
                        <div class="text-space">
                            <p>Plataforma de código aberto conectável para visualizar e
                                integrar dados biológicos.

                                <i ar>Fonte: <a target="_blank"
                                                href="https://jbrowse.org/jb2/">jbrowse</a></i></p>
                        </div>
                        <div>
                            <img width="150"
                                 src="https://jbrowse.org/jb2/img/screenshot.png"/>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


{%endblock%}
