{%extends 'base.html'%}

{%block 'titulo'%}Sobre{%endblock%}

{%block 'conteudo'%}

<div class="container">
	<div class="row">
        <div class="d-flex justify-content-center">
          <div class="border border-dark rounded-3 col-md-8 py-3 px-3">
            <h4>Trypanosoma cruzi Database</h4>
            <p align="justify">Este projeto é parte da disciplina de Tópicos Especiais - Bioinformática, envolvendo os cursos de Bacharelado em Ciência da Computação e Sistemas de Informação da Universidade Federal do Pará. O objetivo é aplicar os conhecimentos das aulas ao organismo Trypanosoma cruzi, utilizando-se de ferramentas como o Blast e a Árvore Filogenética.</p> 
            <h5>EQUIPE:</h5>
            <ul>
              <li>ÁBNER LUCAS ALVES PEREIA</li>
              <li>DIEGO MAGALHÃES DE MELO</li>
              <li>YURI MELO E SILVA DO ESPÍRITO SANTO</li>
              <li>MAYANA MIQUELLI CARDOSO PONTES</li>
              <li>MÁRCIO RODRIGUES DOS REIS</li>
              <li>VICTOR DANIEL GAIA SANTOS DOS SANTOS</li>
            </ul>
          </div>
        </div>
    </div>
</div>

{%endblock%}