{%extends 'base.html'%}

{%block 'titulo'%}Sobre{%endblock%}

{%block 'conteudo'%}

<div class="container d-flex flex-column h-100 align-items-center mt-4">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="border border-dark rounded-3 col-md-8 py-3 px-3">
                <h3 class="mb-3 card-title ">Trypanosoma Cruzi Database</h3>
                <p align="justify">
                    Este projeto é parte da disciplina de Tópicos Especiais -
                    Bioinformática, envolvendo os cursos de Bacharelado em Ciência da
                    Computação e Sistemas de Informação da Universidade Federal do
                    Pará. O objetivo é aplicar os conhecimentos das aulas ao organismo
                    Trypanosoma Cruzi, utilizando-se de ferramentas como o Blast e a
                    Árvore Filogenética.
                </p>
                <h4 class="mt-4 mb-3 card-title ">EQUIPE:</h4>
                <ul>
                    <li>ÁBNER LUCAS ALVES PEREIA</li>
                    <li>DIEGO MAGALHÃES DE MELO</li>
                    <li>MAYANA MIQUELLI CARDOSO PONTES</li>
                    <li>VICTOR DANIEL GAIA SANTOS DOS SANTOS</li>
                    <li>YURI MELO E SILVA DO ESPÍRITO SANTO</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{%endblock%}
