<!doctype html>
<html lang="pt-br">
  <head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Trypanosoma Cruzi Database</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contato</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Ir</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="mb-2 text-dark" style="background-color: #5CADCB;">
      <ul class="d-flex justify-content-center">
        <div class="d-inline p-3  text-white">
          HOME
        </div>
        <div class="d-inline p-3  text-white">
          BLAST
        </div>
        <div class="d-inline p-3 text-white">
          FILOGENIA
        </div>
        <div class="d-inline p-3 text-white">
          DOWNLOAD
        </div>
      </ul>
    </div>

    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-center">
          <div class="border border-dark rounded-3 col-md-8 py-3 px-3">
            <h4>Trypanosoma cruzi</h4>
            <p class="text-justify">Descrita em 1909 por Carlos Chagas, que foi pesquisador e diretor do Instituto Oswaldo Cruz (que deu origem à atual Fiocruz), a doença de Chagas também é conhecida como tripanossomíase por Trypanosoma cruzi ou tripanossomíase americana (terminologia adotada pela Nomenclatura Internacional de Doenças, a NID).<img class="py-2 pe-2" src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Trypanosoma_cruzi_B.jpg" class="rounded mx-auto d-block" alt="t. cruzi" style="float: left;"> Diz-se tripanossomíase qualquer enfermidade causada por protozoários do gênero Trypanosoma, que parasitam o sangue e os tecidos de pessoas e animais.</p> 

            <p class="text-justify">O Trypanosoma geralmente é transmitido de um hospedeiro a outro por insetos – no caso humano, o principal vetor é um percevejo popularmente conhecido como barbeiro ou chupão (insetos das espécies Triatoma infestans, Rhodnius prolixus e Panstrongylus megistus, dentre mais de 300 espécies que podem transmitir o Trypanosoma cruzi).</p>
            
            <p class="text-justify">O Trypanosoma cruzi é transmitido no ato de alimentação do vetor (transmissão vetorial clássica). Assim que o barbeiro termina de se alimentar, ele defeca, eliminando os protozoários e colocando-os em contato com a ferida e a pele da vítima. 
            A doença de Chagas também pode ser transmitida por transfusão de sangue ou durante a gravidez, da mãe contaminada para o filho. Outro modo de transmissão é pela ingestão de alimentos contaminados com vetores triturados ou com seus dejetos. Em ambientes desmatados ou alterados também pode haver transmissão vetorial. Estima-se que existam aproximadamente 12 milhões de portadores da doença crônica nas Américas, cerca de 2 a 3 milhões no Brasil.</p>
            
            <p class="text-justify">A doença é diagnosticada por exame de sangue. Ainda não existe vacina contra a doença de Chagas e a melhor maneira de enfrentá-la é com prevenção e controle, combatendo sistematicamente os vetores, mediante o emprego de inseticidas eficazes, construção ou melhoria das habitações de maneira a torná-las inadequadas à proliferação dos vetores, eliminação dos animais domésticos infectados, uso de cortinados nas casas infestadas pelos vetores, controle e descarte do sangue contaminado pelo parasita e seus derivados. FONTE: Agência FIOCRUZ de Notícias</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap com Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  </body>
</html>