{%extends 'base.html'%}

{%block 'titulo'%}Download{%endblock%}

{%block 'conteudo'%}
<div class="container d-flex flex-column h-100 align-items-center my-4">

  <div class="row col-8">
    <div class="d-flex col-12">
      <div class="border border-dark rounded-3 py-3 px-3 col-12">

        <h3 class="mb-3 card-title">Sequência do organismo Trypanosoma Cruzi</h3>
        <h6>Selecione a sequencia em formato FASTA que deseja baixar:</h6>
        <form action="{% url 'page_objects'%}" method="get">
          <select class="form-select" aria-label="Default select example" name="selectType">
            <option selected value="1">Genoma</option>
            <option value="2">Transcrição</option>
            <option value="3">Proteína</option>
          </select>

          <button class="btn btn-outline-primary col-12 mt-3" type="submit" value="Select">DOWNLOAD</button>

        </form>
      </div>
    </div>
  </div>
</div>
{%endblock%}